{% extends 'base.html' %}
{% load static %}
{% block contents %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>과제 업로드</h1>
    <p class="lead">과제 업로드 해주세요</p>
    <a class="btn btn-lg btn-primary" href="../components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
  <div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">제목</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">본문</span>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group">
      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
        aria-label="Upload">
      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
    </div>
  </div>
</main>
{% endblock %}