{% extends 'base.html' %}
{% load static %}
{% block contents %}
<main role="main" class="container">
    <br>
    <br>
    <h1>Projects</h1>
   
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for list in postlist %}
        <div class="col">
            <div class="card">
                {% if list.img_thumbnail %} 
                <img src="{{list.img_thumbnail.url}}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                  <h5 class="card-title">
                    <p><a href="{{list.pk}}/">{{list.title}}</a></p>
                  </h5>
                  <p>{{list.writer}}</p>
                  <p class="card-text">
                    <p>{{list.contents}}</p>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">
                    <p>{{list.pub_date}}</p>
                  </small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br><br>
    <div class="jumbotron">
      <a class="btn btn-lg btn-primary" href="project_new/" role="button">글쓰기 &raquo;</a>
    </div>
</main>
{% endblock %}